<a href="https://colab.research.google.com/github/samin-taheri/rn-country-picker/blob/master/SaminTaheri_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Samin Taheri. 20180808001

**1 Basics**

**Exercise 1.1: The interpreter**

In [45]:
3 + 1

4

In [46]:
3 * 3

9

In [47]:
2 ** 3

8

In [48]:
"Hello, world!"

'Hello, world!'

**Exercise 1.2: Scripts:**

First nothing happens,  but then using print() we can print them.

In [49]:
print(3 + 1)
print(3 * 3)
print(2 ** 3)
print("Hello, world!")

4
9
8
Hello, world!

**Exercise 1.3: More interpreter**

(a) Two strings are combined into a single string.

(b) 'py' is repeated three times, then concatenated into the string 'thon'.

(c) Unsupported operand.

(d) Have to be str not int.

(e) It's repeating 3 three times.

(f) "a" is not defined.

(g) Doesn't exist.

(h) "a" is now 3.

In [58]:
'py' + 'thon'

'python'

In [59]:
'py'*3 + 'thon'

'pypypython'

In [61]:
'py' - 'py'

In [63]:
'3' + 3

In [64]:
3 * '3'

'333'

In [66]:
a

In [67]:
a = 3

**Exercise 1.4: Booleans**

(a) true.

(b) 1 as default is true.

(c) false since 1 != 0.

(d) true.

(e) true.

(f) output is 0, since 3! = 1, so 0 * 3 == 0.

(g) false, since left part is equal to 7 and 7! = 1.

(h) false, since left part is equal to 15 and right part is equal to 16, and 15 < 16.

In [50]:
1 == 1

True

In [51]:
1 == True

True

In [52]:
0 == True

False

In [53]:
0 == False

True

In [54]:
3 == 1 * 3

True

In [55]:
(3 == 1)* 3

0

In [56]:
(3 == 3) * 4 + 3 == 1

False

In [57]:
3**5 >= 4**4

False

**Exercise 1.5: Integers**

(a) Output is 1.666666666666666667, floating point division.

(b) Output is 2.

(c) Output is 1.6666666666666667.

(d) Output is 1.6666666666666667.

(e) Output is 2.2.

(f) Pytho Large Number.

In [68]:
5 / 3

1.6666666666666667

In [69]:
5 % 3

2

In [70]:
5.0 / 3

1.6666666666666667

In [71]:
5 / 3.0

1.6666666666666667

In [72]:
5.2 % 3

2.2

In [73]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

**Exercise 1.6: Floats**

(a) answer has been overflowed.

(b) Because the smaller 1.0 does not ignore the extra 1.0, the result is 1.0.

(c) Since E20 is a large number, 1.0 is ignored, so 1.0E20 + 1.0 == 1.0E20.

In [74]:
1.0+1.0e20-1.0

1e+20

In [76]:
2000.3 ** 200

In [77]:
1.0 + 1.0 - 1.0

1.0

In [78]:
1.0 + 1.0e20 - 1.0e20

0.0

**Exercise 1.7: Variables**

In [3]:
string = 'John Doe'
print("Hello, " + string + "!")

Hello, John Doe!

**Exercise 1.8: Type casting**

(a) Float (123): converts 123 integer to single precision floating point.

(b) Float('123'): converts 123 strings to single precision floating point.

(c) Float ('123.23'): converts 123.23 strings to single-precision floating point.

(d) INT (123.23): transforming 12323 floating point numbers to integers.

(e) Int('123.23'): converts 123.23 strings to integers.

(f) Int(float('123.23')): String converted 123.23 to the single precision floating point number and converted to integers.

(g) STR (12): convert 12 integer to string.

(h) STR (12.2): converted from floating point number to strings.

(i) BOOL('A'): converted string to boolean number, ASCII is not 0.

(j) Bool (0): converted to a Boolean number.

(k) bool(0.1): Translate floating point numbers to Booleen.

**2 Control flow**

**Exercise 2.1: Range**

range(5) will generate a list of numbers ranging from 1 to 4. for I in range(5) indicates the creation of a loop that iterates through each item in the range list.

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

**Exercise 2.2: For loops**

(a)

In [8]:
for i in range(101):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

(b)

In [12]:
for i in range(101):
  if(i%7==0):
    print(i, end=' ')

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

(c)

In [11]:
for i in range(101):
  if(i%5==0 and i%3==0):
    print(i, end=' ')

0 15 30 45 60 75 90

(d)

In [16]:
for x in range(2,21):
  print('x = '+str(x)+':')
  for j in range(2,x):
    if(x%j==0):
      print(j, end=' ')
  print()

x = 2:

x = 3:

x = 4:
2
x = 5:

x = 6:
2 3
x = 7:

x = 8:
2 4
x = 9:
3
x = 10:
2 5
x = 11:

x = 12:
2 3 4 6
x = 13:

x = 14:
2 7
x = 15:
3 5
x = 16:
2 4 8
x = 17:

x = 18:
2 3 6 9
x = 19:

x = 20:
2 4 5 10

**Exercise 2.3: Simple while loops**
(a)

In [18]:
i=0
while(i<=100):
  print(i, end=' ')
  i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

(b)

In [19]:
i=0
while(i<=100):
  if(i%7==0):
    print(i, end=' ')
  i=i+1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

**Exercise 2.5: While loops**

In [20]:
number = 0
x = 11
while number<20:
	if(x %3==0 and x%5 == 0 and x%11 == 0):
		print(x,end = ' ')
		number = number +1
	x = x +1

165 330 495 660 825 990 1155 1320 1485 1650 1815 1980 2145 2310 2475 2640 2805 2970 3135 3300

**Exercise 2.6: More while loops**

In [21]:
w = True
for i in range(10,99999):
  for x in range(1,11):
    if(i%x!=0):
      w = False
  if(w == True):
    print("Number:" + str(i))
    break
  else:
    w = True

Number:2520

**Exercise 2.7: Collatz sequence**

In [22]:
x = 103
print(x,end = ' ')
while x != 1:
	if(x%2 == 0):
		x = int(x/2)
	else:
		x = x*3+1
	print(x,end = ' ')

103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

**3 Functions**

**Exercise 3.1: Hello**

In [24]:
def hello_world():
	print('Hello, world!')
 
def  hello_name(name):
	print('Hello, '+name+'!')
 
def hello_world_return():
	 return 'Hello, world!'
 
def  hello_name_return(name):
	return 'Hello, '+name+'!'
 
hello_world()
hello_name("SAMIN")
print(hello_world_return())
print(hello_name_return("Samin"))

Hello, world!
Hello, SAMIN!
Hello, world!
Hello, Samin!

**Exercise 3.2: Polynomial**

In [26]:
def evaluate(x):
	result = 3*(x ** 2)-x+2
	print(result)
	return result
 
evaluate(1)

4

4

**Exercise 3.3: Maximum**

In [27]:
def my_max_1(x,y):
	if(x>y):
		return x
	else:
		return y
def my_max_2(x,y):
	if(x > y):
		return x
	return y
 
print(my_max_1(10,99))
print(my_max_2(1,999))

99
999

**Exercise 3.4: Primes**
(a)

In [28]:
import math
def is_prime(n):
	for i in range(2,int(math.sqrt(n))):
		if(n%i == 0):
			return False
	return True
 
print(is_prime(99991))

True

(b)

In [29]:
def is_prime_2(n):
	if(n==2 or n== 3):
		return True
	if((n-1)%6 !=0 and (n+1)%6 != 0 ):
		return False
 
	for i in range(2,int(math.sqrt(n))):
		if(n%i == 0):
			return False
	return True
 
print(is_prime(99991))

True

(c)

In [30]:
def count_prime(n):
	print(str(2)+' '+str(3),end = ' ')
	for x in range(4,n+1):
		if((x-1)%6 !=0 and (x+1)%6 != 0 ):
			continue
		flag = True
		for i in range(2,int(math.sqrt(n))):
			if(x%i == 0):
				flag = False
		if(flag == True):
			print(x,end = ' ')
		else:
			flag = True
 
count_prime(20)
print()

2 3 5 7 11 13 17 19

(d)

In [31]:
def count_prime_2(n):
	if(n == 1):
		return 2
	if(n == 2):
		return 3
	num_found = 2
	x = 5
	while(True):
		
		if((x-1)%6 !=0 and (x+1)%6 != 0 ):
			x = x+1
			continue
 
		flag = True
		for i in range(2,int(math.sqrt(n))):
			if(x%i == 0):
				flag = False
		if(flag == True):
			num_found = num_found +1
			if(num_found == n):
				return x
		else:
			flag = True
		x = x+1
 
print(count_prime_2(5))

11

**Exercise 3.5: Root finding**

(a)

In [39]:
def root(f, a, b):
	mid_point = (a+b)/2
	if(f(mid_point) == 0): 
		return mid_point
	if(f(mid_point) < 0):
		root(f,mid_point,b)
	if(f(mid_point) > 0):
		root(f,a,mid_point)

(b)

In [38]:
def root_2(f, a, b):
	mid_point = (a+b)/2
	if(f(mid_point) == 0): 
		return mid_point
	if(f(mid_point) < 0):
		root(f,mid_point,b)
	if(f(mid_point) > 0):
		root(f,a,mid_point)

(c)

In [41]:
def chech(f,a,b):
	if(f(a)*f(b)>0):
		print('function has same sign')